<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="Aryan Naraghi" name="author"/>
        <meta content="Aryan Naraghi's website" name="description"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

        <title>{{ page.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"/>
        <link href="/assets/css/styles.css" rel="stylesheet">

        {% include analytics.html %}
    </head>

    <body>
        <header>
            <div>
                <h1>Aryan Naraghi</h1>
                {% include navigation.html %}
            </div>
        </header>

        <main>
            <h1>{{ page.title }}</h1>
            {{ content }}
        </main>
    </body>
</html>
