@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(/assets/fonts/OpenSans-Regular.ttf) format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

main {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.8;
  padding: 0 2em 4em 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
}

p {
  margin-bottom: 2em;
}

header {
  background-color: aliceblue;
  border-bottom: 1px solid grey;
  min-height: 8.5em;
}

header div {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 2em;
  display: grid;
  grid-template-columns: 70% 30%;
}

header nav {
  justify-self: end;
  align-self: center;
}

header h1 {
  font-size: 2.5em;
  align-self: center;
  margin: 1em 0;
  padding: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding-right: 1em;
}

nav li:last-child {
  padding-right: 0;
}

@media screen and (max-width: 500px) {
  header div {
    grid-template-columns: 100%;
  }
  header nav {
    justify-self: start;
  }
  nav ul {
    margin-bottom: 2em;
  }
}

figure {
  margin-left: 0;
  margin-right: 0;
}

code,
pre {
  background-color: #f8f8f8;
}

aside,
pre {
  border-left: 3px solid blue;
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  overflow-x: auto;
  margin-bottom: 2em;
}

aside {
  background-color: lightgoldenrodyellow;
  padding-top: 0;
  padding-bottom: 0;
}

aside p:last-child {
  margin-bottom: 1em;
}

blockquote {
  margin: 0;
  border-left: 5px solid aliceblue;
  padding-left: 1em;
}

a {
  color: blue;
  border-bottom: 1px solid blue;
  text-decoration: none;
}

a:hover {
  color: purple;
  border-color: purple;
}

:target {
  background-color: yellow;
}

h1 a {
  color: inherit;
  border: inherit;
}

h1 a:hover {
  color: inherit;
}

.selected-link {
  border-bottom: 2px solid blue;
}

time {
  color: grey;
}
